.Main {
    width: 100%;
}

.Main h2 {
    text-align: center;
}

.Main p {
    text-align: center;
    font-size: 1.2em;
}

.Images {
    width: 90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Images img {
    margin:auto;
    width:100%;
    height: auto;
    margin-top: 0px;
    padding-bottom: 5px;
  }

.Section2 {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.Section {
    width: 90%;
    margin-top: 40px;
    margin:auto;
}

.Section p, .Section h3 {
    text-align: center  ;
    font-size: 1.2em;
}

.Section ul {
    width: 90%;
    font-size: 1.2em;
    margin: auto;
}

.Section h3 {
    text-align: left;
    font-size: 1.3em;
}

@media (min-width: 768px) {

.Main {
    width: 100%;
}

.Main h2 {
    text-align: center;
}

.Main p {
    text-align: center;
    font-size: 1.2em;
}

.Images {
    width: 90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Images img {
    margin:auto;
    width:33.33%;
    height: auto;
    margin-top: 0px;
  }

.Section2 {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.Section {
    width: 50%;
    margin-top: 40px;
    margin:auto;
}

.Section p, .Section h3 {
    text-align: center  ;
    font-size: 1.2em;
}

.Section ul {
    width: 100%;
    font-size: 1.2em;
    margin: auto;
}

.Section h3 {
    text-align: left;
    font-size: 1.3em;
}

}
